@font-face {
    font-family: "Avenir Next LT Pro";
    src: url("res/AvenirNextLTPro-Regular.otf");
}

body {
    font-family: "Avenir Next LT Pro", serif;
}

.blueBird {
    float: right;
    padding-bottom: 10rem;
}

.newQuote {
}

.quoteAuthor {
    float: right;
}