@font-face {
    font-family: "Roboto";
    src: url("lib/materialize/fonts/roboto");
}

body {
    font-family: "Roboto", serif;
    margin: auto;
    padding: 1rem;
}

.quoteAuthor {
    float: right;
    padding-right: 3rem;
}

.quoteFrame {
    padding-bottom: 3rem;
    opacity: 0;
}

.blueBird .btn-floating {
    bottom: 5em;
    right: 6em;
    position: fixed;
}

.newQuote .btn-floating {
    bottom: 5em;
    left: 6em;
    position: fixed;
}